---
layout: "site_wrapper"
---

<header class='header'>
        <!-- header -->
    <div class="container">
         Hello! I'm a developer.
         <p></p>
    </div>
</header>

<section id='one' class='showcase'>
    Showcase

    <!-- 
        Tentative idea - 
        iterate through posts marked as "projects"
        and use their images
    -->
    <div class="container"> 
        {% for project in site.categories['projects'] %}
            <div class="box">
                <div>
                    <a href="{{project.url}}">{{project.title}}</a>
                </div>
                <img src="" alt="{{project.title}}">
                <div></div>
            </div>
        {% endfor %}
        </div>
        <div class='arrow-container'> <!-- Center this -->
            <div>
                <i class="fas fa-angle-down fa-3x"></i>
            </div>
        </div>
    </section>
    
    <section id='two'>About Me
        <div class='arrow-container'> <!-- Center this -->
            <i class="fas fa-angle-down fa-3x"></i>
        </div>
    </section>

    <section id='three'>Experience
        <div class='arrow-container'> <!-- Center this -->
            <i class="fas fa-angle-down fa-3x"></i>
        </div>
    </section> 
    
{{content}}