---
layout: "site_wrapper"
---

<h2>Index</h2>

<header>
        <!-- header -->
    <div class="container">
         Hello! I'm a developer.
    </div>
</header>

<section id='one' class='showcase'>
    <div class="container"> 
        <div class="box">
            <img src="" alt="One Photo">
        </div>
        <div class="box">
            <img src="" alt="Two Photo">
        </div>
        <div class="box">
            <img src="" alt="Three Photo">
        </div>
        <div class="box">
                <img src="" alt="Four Photo">
        </div>
        </div>
        <div class='arrow-container'> <!-- Center this -->
            <div>
                <i class="fas fa-angle-down fa-3x"></i>
            </div>
        </div>
    </section>
    
    <section id='two'>Section 2
        <div class='arrow-container'> <!-- Center this -->
            <i class="fas fa-angle-down fa-3x"></i>
        </div>
    </section>

    <section id='three'>Section 3
        <div class='arrow-container'> <!-- Center this -->
            <i class="fas fa-angle-down fa-3x"></i>
        </div>
    </section> 
    
{{content}}